In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [74]:
df = pd.read_csv(r'C:\Users\samee\Google Drive\Carolina Data Challenge\500_Cities__Local_Data_for_Better_Health__2017_release.csv')

In [75]:
df.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2015,US,United States,NaN,US,BRFSS,Prevention,59,Current lack of health insurance among adults ...,%,...,15.7,NaN,NaN,308745538.0,NaN,PREVENT,ACCESS2,NaN,NaN,Health Insurance
1,2015,US,United States,NaN,US,BRFSS,Prevention,59,Current lack of health insurance among adults ...,%,...,15.0,NaN,NaN,308745538.0,NaN,PREVENT,ACCESS2,NaN,NaN,Health Insurance
2,2015,US,United States,NaN,US,BRFSS,Health Outcomes,59,Arthritis among adults aged >=18 Years,%,...,22.7,NaN,NaN,308745538.0,NaN,HLTHOUT,ARTHRITIS,NaN,NaN,Arthritis
3,2015,US,United States,NaN,US,BRFSS,Health Outcomes,59,Arthritis among adults aged >=18 Years,%,...,24.9,NaN,NaN,308745538.0,NaN,HLTHOUT,ARTHRITIS,NaN,NaN,Arthritis
4,2015,US,United States,NaN,US,BRFSS,Unhealthy Behaviors,59,Binge drinking among adults aged >=18 Years,%,...,17.4,NaN,NaN,308745538.0,NaN,UNHBEH,BINGE,NaN,NaN,Binge Drinking

In [76]:
df = df[df['GeographicLevel'] == 'City']

In [77]:
df = df[df['Category'] == 'Unhealthy Behaviors']

In [78]:
df = df[df['DataValueTypeID'] == 'AgeAdjPrv']

In [79]:
df.groupby(by='Short_Question_Text')

In [80]:
df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [81]:
fin = df[['Short_Question_Text', 'Data_Value']]

In [82]:
fin.head()

      Short_Question_Text  Data_Value
256        Binge Drinking        11.2
1461      Current Smoking        24.6
1957  Physical Inactivity        37.3
2257              Obesity        42.7
2552      Sleep < 7 hours        46.9

In [83]:
fin = df[df['Short_Question_Text'] == 'Binge Drinking'][['Short_Question_Text', 'Data_Value']]
fin.index = range(len(fin))
fin.head()
fin = fin[['Data_Value']]
fin.columns = ['Binge']
fin.head()

smok = df[df['Short_Question_Text'] == 'Current Smoking'][['Short_Question_Text', 'Data_Value']]
smok.index = range(len(fin))
smok.head()
smok = smok[['Data_Value']]
smok.columns = ['Smoke']
smok.head()

phys = df[df['Short_Question_Text'] == 'Physical Inactivity'][['Short_Question_Text', 'Data_Value']]
phys.index = range(len(fin))
phys.head()
phys = phys[['Data_Value']]
phys.columns = ['Inactive']
phys.head()

obes = df[df['Short_Question_Text'] == 'Obesity'][['Short_Question_Text', 'Data_Value']]
obes.index = range(len(fin))
obes.head()
obes = obes[['Data_Value']]
obes.columns = ['Obesity']
obes.head()

sleep = df[df['Short_Question_Text'] == 'Sleep < 7 hours'][['Short_Question_Text', 'Data_Value']]
sleep.index = range(len(fin))
sleep.head()
sleep = sleep[['Data_Value']]
sleep.columns = ['Sleep']
sleep.head()

   Sleep
0   46.9
1   34.6
2   39.7
3   42.2
4   41.3

In [101]:
frames = [fin, smok, phys, obes, sleep]
final = pd.concat(frames, axis=1)

In [104]:
final.to_csv(r'C:\Users\samee\Google Drive\Carolina Data Challenge\r_data.csv')